<div class="container-fluid theme-showcase">

    <div class="page-header">
        <h1>&nbsp;<a ng-href='{{crud_detail.parent_url}}'>Area</a>&gt;&nbsp;{{crud_detail.title}}</h1>
    </div>

    <div class="row">
        <div class="col-md-8">

          <table class="table table-bordered">
            <tbody >
              <tr ng-repeat="item in crud_detail.content">
                <td align="right" > <span class="label label-default">{{item[0].key}}</span>    </td>
                <td >               <input readonly="true" disabled="true" type="{{item[1].type}}" ng-model="item[1].key"/>    </td>
                <td align="right">  <span class="label label-default">{{item[2].key}}</span>    </td>
                <td >               <input readonly="true" disabled="true" type="{{item[3].type}}" ng-model="item[3].key"/>    </td>
              </tr>
            </tbody>
          </table>

        </div> <!--/.col-md-8-->
    </div> <!--/.row -->
</div>
